@media (max-width: 1200px) {
    .container {
        max-width: 950px
    }
}

@media (max-width: 950px) {
    .container {
        max-width: 767px;
        padding: 0 20px;
    }

    .projects-list {
        flex-wrap: wrap;
    }
    .projects-item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    p.logo {
        z-index: 3;
    }
    .burger-menu {
        display: block;
        position: relative;
        top: -5px;
        width: 33px;
        height: 20px;
        z-index: 3;
    }
    .burger-menu span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3.84px;
        left: 0;
        top: 8px;
        background-color: #fff;
        transition: 1s;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3.84px;
        left: 0;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu.active span {
        transform: scale(0);
        transition: 1s;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 8px;
        transition: 1s;
        background-color: #fff;
    }
    ul.main-nav {
        padding-left: 20px;
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #62497c;
        z-index: 2;
        padding-top: 100px;
        transition: 1s;
    }
    ul.main-nav li.main-nav-item {
        margin-left: 0;
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul.main-nav.active {
        left: 0;
        transition: 1s;
    }
    .swiper-button-next {
        display: none;
    }
    .team-item {
        width: 50%;
    }
    .singup-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .singup-form-row {
        flex-direction: column;
    }
    .singup-form input {
        width: 300px;
        margin-bottom: 20px;
    }
    .contact {
        flex-direction: column-reverse;
    }
    .contact-left, .contact-right {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .blog-list {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .welcome-top {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .welcome-top p {
        max-width: 100%;
        padding-top: 30px;
    }
    .welcome-list, .pricing-list {
        flex-direction: column;
    }
    .footer-list {
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 500px) {
    .projects-item {
        width: 100%;
    }
    .team-item {
        width: 100%;
    }
    .contact-right {
        padding: 0 20px;
        padding-top: 60px;
        width: 100%;
    }
    .contact-right h2 {
        text-align: center;
    }
    form.contact-form input, form.contact-form textarea, form.contact-form input.contact-btn {
        width: 100%;
    }
    .singup-form input {
        width: 100%;
    }
    .singup-form-row {
        width: 100%
    }
    .singup-email::placeholder {
        font-size: 16px;
    }

}
@media (max-width: 400px) {
    
}

