body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
h2.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    letter-spacing: 2px
}
.header {
    background-image: url('../img/header-background.png');
    background-size: cover;

    max-height: 694px;
    color: #fff;
}
.header-top {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
p.logo {
    font-size: 30px;
    line-height: 6.9px;
    text-transform: uppercase;
    font-weight: bold;
}
ul.main-nav {
    display: flex;
}
ul.main-nav li.main-nav-item {
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
}
ul.main-nav li.main-nav-item:first-child {
    margin-left: 0;
}

ul.main-nav li.main-nav-item a {
    color: #fff;
}
ul.main-nav li.main-nav-item:hover a, ul.main-nav li.main-nav-item.active a {
    color:#ffff33;
}
.header-middle {
    padding-bottom: 50px;
}
.swiper-container {
    width: 100%;
}
.swiper-slide h1 {
    max-width: 490px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.swiper-slide p.header-text {
    font-size: 20px;
    font-family: 'Roboto';
    max-width: 490px;
    margin-bottom: 40px;
}
.header-links {
    display: flex;
    margin-bottom: 220px;
}
a.header-btn {
    display: inline-block;
    width: 125px;
    height: 43px;
    background-color: #62497c;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
a.header-btn.header-btn-active {
    background-color:#ffff33;
    color: #000;
    margin-right: 10px;
}

.swiper-pagination {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	background: #fff !important;
}
.swiper-pagination-bullet-active {
	background: white;
}

.welcome {
    padding-top: 95px;
    padding-bottom: 65px;
}

.welcome-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.welcome-top p {
    max-width: 440px;
    font-family: 'Roboto';
    font-size: 30px;
}
.welcome-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e7e7e7
}
.welcome-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome-item-img {
    width: 80px;
    height: 80px;
    background-color: #62497c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.welcome-item h3 {
    font-size: 15px;
    font-weight: bold;
    color: #62497c;
    text-transform: uppercase;
    margin-bottom: 30px;
}
p.welcome-item-text {
    max-width: 165px;
    font-size: 13px;
    font-family: 'Helvetica';
    color: #959596;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}
a.welcome-item-btn {
    display: inline-block;
    background-color:#62497c;
    color: white;
    border-radius: 3px;
    font-size: 10px;
    width: 125px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
}  
a.welcome-item-btn-active {
    background-color: #62497c;
    color: #fff;
    
}
.projects-list {
    margin-top: 55px;
    display: flex;
}
.projects-item {
    width: 25%;
    background-color: #efefef;
}
.projects-item:hover, .projects-item-active {
    background-color:#ffe26d;
}
.project-item-img {
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
}
.projects-item-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 5%;
}
.projects-item-text {
    margin-left: 5%;
    max-width: 85%;
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 23px;
    color: #644d4d;
    margin-bottom: 20px;
}
.projects-item-link {
    display: inline-block;
    margin-left: 5%;
    width: 162px;
    height: 43px;
    border-radius: 3px;
    background-color: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.projects-item:hover .projects-item-link, .projects-item-active .projects-item-link {
    background-color: #62497c;
    color: #fff;
}

.pricing {
    padding-top: 95px;
    padding-bottom: 40px;
}
.pricing-list {
    display: flex;
    justify-content: space-between;
}
.pricing-item {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.pricing-item-name {
    font-size: 14px;
    line-height: 7px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing-item-price {
    font-size: 14px;
    line-height: 7px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #d7d7d7;
}
ul.pricing-item-nav {
    margin-bottom: 30px;
}
ul.pricing-item-nav li {
    font-family: 'Helvetica';
    font-size: 12px;
    line-height: 22px;
    font-weight: 900;
}
.pricing-item-link {
    display: inline-block;
    border-radius: 3px;
    background-color:#ffe26d;
    width: 82px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #660066;
    text-transform: uppercase;
  }  
.pricing-item-link:hover, .pricing-item-link-active {
    background-color: #62497c;
    color: #fff;
  }

.video {
    background-color: #660066;
    padding-top: 95px;
    padding-bottom: 115px;
}
.video h2 {
    color: #fff;
}
.video-content img {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.video-text {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 50px;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
    
}
.swiper-button-next {
    padding-left: 20px;
}
.swiper-button-prev {
    padding-right: 20px;
}

.team {
    padding: 80px  0 70px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-item {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.team-item-img {
    position: relative;
    margin-bottom: 30px;
}

.team-item-img-links {
    display: none;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background-color: #1d1f21;
    opacity: 0.8;
    position: absolute;
    top: 0;
}
.team-item-img-links a {
    margin: 0 6px;
}
.team-item-img:hover .team-item-img-links  {
    display: flex;
}
h3.team-item-name {
    font-size: 15px;
    line-height: 7px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3.team-item-job {
    font-size: 20px;
    font-weight: 600;
    color: #a1a1a1;
    margin-bottom: 70px;
}
.life {
    padding: 90px 0 110px;
    background: #efefef;
}
.fotorama img {
    width: 100%;
}

.singup {
    padding: 65px 0 70px;
    background-image: url('../img/singup.png');
    background-size: cover;

}
.singup h2 {
    color: #fff;
}
.singup .container {
    max-width: 546px;
}
.singup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.singup-form-row {
    display: flex;
    margin-bottom: 25px;
}
.singup-email {
    width: 396px;
    height: 55px;
    border-radius: 3px;
    background-color: rgb(254, 254, 254);
    border: none;
}
.singup-email::placeholder {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(216, 216, 216);
    line-height: 2.115;
    font-weight: bold;
    padding-left: 20px;
}
.singup-btn {
    width: 150px;
    height: 55px;
    background: #660066;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.singup-btn-active {
    background-color:#ffff33;
    color: #660066
}

.blog {
    padding-top: 80px;
    padding-bottom: 40px;
}
.blog-list {
   
    display: flex;
    justify-content: space-between;
}
.blog-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
img.blog-item-img {
    width:400px;
    height: 200px;
    margin-bottom: 40px;
}
h3.blog-item-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 18px;
}
span.blog-item-date {
    font-size: 14px;
    font-family: 'Helvetica';
    line-height: 24px;
    color: #a1a1a1;
    font-weight: 500;
    margin-bottom: 18px;
}
p.blog-item-text {
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    max-width: 207px;
    margin-bottom: 30px;
}
a.blog-item-link {
    display: inline-block;
    width: 125px;
    height: 43px;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000
}

a.blog-item-link-active, a.blog-item-link:hover {
    background-color:#ffe26d;
    color: #660066
}
.contact {
    display: flex;
    background-color:#ffe26d;
}
.contact-left {
    width: 50%;
}
.contact-left img {
    width: 100%;
    height: 100%;
}
.contact-right {
    padding-left: 45px;
    padding-top: 60px;
    width: 50%;
}
.contact-right h2 {
    text-align: left;
    margin-bottom: 80px;
}

.contact-form-row {
    display: flex;
    flex-direction: column;
}
form.contact-form label {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(50, 50, 50);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
form.contact-form input {
    height: 45px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 1px 1px 0px rgba(22, 22, 23, 0.09);
    border: none;
    width: 100%;
    margin-bottom: 40px;
    width: 315px;
}
form.contact-form textarea {
    height: 145px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 1px 1px 0px rgba(22, 22, 23, 0.09);
    width: 100%;
    border: none;
    margin-bottom: 30px;
    width: 315px;
}

form.contact-form input.contact-btn {
    border-radius: 10px;
    height: 44px;
    background-color: #62497c;
    box-shadow: 0px 1px 1px 0px rgba(22, 22, 23, 0.09);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 315px;
}
form.contact-form input.contact-btn:hover {
    background: #fff;
    color: #660066;
}
.footer {
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-list {
    display: flex;
    justify-content: space-around;
}
.footer-menu {
    width: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.footer-menu h3 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(4, 4, 5);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

ul.footer-nav li {
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(4, 4, 5);
    line-height: 1.778;
    margin-bottom: 10px;
}
.footer-social {
    width: 134px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-social a {
    margin-right: 25px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
}
.footer-social a:last-child, .footer-social a:nth-child(3) {
    margin-right: 0;
}
.footer-social a path {
    fill: #000;
}
.footer-social a:hover path {
    fill: #660066
}
  











.m1{
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.m2{
    
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.3%;
    overflow: hidden;
}
.m11{
   padding: 10px;
}
.m12{
   padding: 10px;
}
.m13{
    padding: 10px;
}
.m3{
   
    display: grid;
    grid-template-columns: 35% 40% 30%;
    overflow: hidden;
}
.m31{text-align: center; color: white; padding-top: 20px;}
.m32{text-align: center; color: white; padding-top: 20px;}
.m32{text-align: center; color: white; padding-top: 20px;}














.button {
  border-radius: 10px;
  background-color: #e6663e;
    font-weight: 500;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
    
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.life{
    
    display: grid;
    width: 100%;
    height: 800px;
    background-color: #efefef;
    grid-template-rows: 10% 63% 17% 10%;
}
.c1{width: 70%; margin-left: 200px; text-align: center;  font-size: 45px;font-weight: 700; }
.c2{ width: 70%; margin-left: 200px;}
.c3{ width: 70%; margin-left: 200px;}
.c4{ width: 70%; margin-left: 200px;}

.c3{ padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
  }

.c3::-webkit-scrollbar {
  width: 1em;
    height: 10px;
}
 
.c3::-webkit-scrollbar-track {
  
}
 
.c3::-webkit-scrollbar-thumb {
  background-color: #62497c;
    border-radius: 5px;
}
  